<div class="col">
    <div class="card rounded-0 product-card">

        <div class="card-header bg-transparent border-bottom-0">
            <div class="d-flex align-items-center justify-content-end gap-3">
                <a href="javascript:;">
                    <div class="product-compare"><span><i class="bx bx-git-compare"></i> Сравнить</span>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="product-wishlist"> <i class="bx bx-heart"></i>
                    </div>
                </a>
            </div>
        </div>

        <a href="{{ path('app_detail', {alias: item.alias}) }}">
            <img src="{{ asset(item.image) }}" class="card-img-top" alt="{{ item.name }}">
        </a>

        <div class="card-body">
            <div class="product-info">
                <a href="{{ path('app_shop_search', {alias: item.category.alias}) }}">
                    <p class="product-catergory font-13 mb-1">
                        {{ item.category.title }}
                    </p>
                </a>
                <a href="{{ path('app_detail', {alias: item.alias}) }}">
                    <h6 class="product-name mb-2">{{ item.name }}</h6>
                </a>
                <div class="d-flex align-items-center">
                    <div class="mb-1 product-price">
                        {% if item.discount %}
                            <span class="discount">{{ item.discount }}%</span>
                            <span class="me-1 text-decoration-line-through">
                                {{ item.price - ((item.discount / 100) * item.price) }}₽
                            </span>
                        {% endif %}
                        <span class="fs-5">{{ item.price }}₽</span>
                    </div>

                    <div class="cursor-pointer ms-auto">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                    </div>

                </div>
                <div class="product-action mt-2">
                    <div class="d-grid gap-2">
                        <a href="{{ path('app_cart_add', {id: item.id}) }}" class="btn btn-dark btn-ecomm">
                            <i class="bx bxs-cart-add"></i>В корзину
                        </a>
                        <a href="javascript:;" class="btn btn-light btn-ecomm" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">
                            <i class="bx bx-zoom-in"></i>Предпросмотр
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>